ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0 10px; /* מוסיף מרווח סביב הכותרות */
    font-size: 16px; /* גודל טקסט */
}

button {
    background-color: #333; /* צבע כפתור שחור */
    color: white; /* צבע טקסט לבן */
    border: none; 
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* צבע כהה יותר לשעת ריחוף */
}

form {
    margin-top: 20px;
}

input[type="text"], 
input[type="number"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button[type='submit'] {
    background-color: #777; /* צבע כפתור אפור */
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #999; /* צבע כהה יותר לשעת ריחוף */
}